* {
    margin: 0px;
    position: relative;  
}

.back {
    background-color: rgb(255, 249, 240,0.3);
}

.navigation {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items:center; 
    justify-content: space-between;
}

.nav {
    margin-right: 200px;
}

.nav a{
    color: black;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 35px;
    font-size: 23px;
    font-weight: 50;
    display: inline-block;
    font-family:serif;
}

.nav a:hover {
    color:blueviolet;
    opacity: 0.5;
}

.nav a img:hover {
    transform: rotate(180deg);
}

.nav a img {
    width: 30px;
    height: 30px;
}
.navigation > img {
    width: 300px;
    height: 100px;
}
.drop{
    display: flex;
    gap: 4px;
    align-items: center;
}

.body {
    margin: 40px 70px 0px 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
    top: 100px; 
}

.body h2 {
    font-size: 60px;
    font-family:Verdana;
    font-weight: 550;
}
.body p {
    font-size: 25px;
}
.body > div {
    margin-right: 40px;
}

.body img {
    width: 40vw;
    height: 80vh;
    border-radius: 30px;
}

.svg {
    width: 55%;
}

.body2 {
    display: flex;
    margin-right: 90px;
    margin-bottom: 40px;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}

.body2 h1{
    font-size: 45px;
}

.body2 p {
    font-size: 20px;
}

.phone img {
    width: 35vw;
    height: 100vh;
}

.btn{
    display: flex;
}
.btn1{
    font-size: 17px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}

.btn2 {
    font-size: 17px;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(45, 45, 134);
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 45px;
    color: rgb(39, 39, 78);
    font-family: Arial, Helvetica, sans-serif;
}
.title p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.testimonial {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 60px;
    margin:60px 50px 0px 50px;

}

.box{
    width: 400px;
    height: 300px;
    background-color: rgb(255, 248, 249);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 150px;
    
}

.testimonial img {
    width: 25px;
    height: 25px;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
    
}

.testimonial p {
    font-size: 20px;
    margin-left: 10px;
    
}

.testimonial p:nth-of-type(even) {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 60px;
}

.row {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 60px;
    padding: 60px;
    margin: 30px 50px 70px 50px;
}

.row img {
    width: 150px;
    height: 150px;
}

.row p {
    font-size: 20px;
}

.frame {
    padding: 70px;
    width: auto;
    height: 740px;
    background-color: rgb(45, 45, 134);
    color: white;
    position: relative;
}

.frame h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.frame p {
    text-align: center;
    font-size: 25px;
}

.frame sup {
    font-size: 10px;
}

.frame button {
    font-size: 20px;
    font-weight: 400;
    width: 200px;
    height: 70px;
    border-radius: 15px;
    border-color: rgb(45, 45, 134);
    background-color: white;
    color: rgb(45, 45, 134);
    margin-left: 590px;
    position: absolute;
    right: 50px;
    left: 60px;
    top: 200px;
}

.frame img {
    border-radius: 20px 20px 0px 0px;
    width: auto;
    height: 500px;
    margin-left: 70px;
    margin-right: 70px;
    justify-content: center;
    position: absolute;
    bottom: 0%;
}

.body3 {
    margin: 100px 70px 40px 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: space-between;
}

.body3 img {
    width: 36vw;
    height: 84vh;
    border-radius: 30px;
}

.txt2 {
    top:150px;
    left: 60px;
}
.txt2 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
   
}
.txt2 p {
    font-size: 23px;
}
.medical {
    font-size: 25px;
    font-weight: bold;
    color: rgb(121, 121, 241);
}

.btn4 {
    font-size: 17px;
    width: 230px;
    height: 60px;
    border-radius: 10px;
    border-color: transparent;
    background-color: rgb(45, 45, 134);
    margin-left: 10px;
    color: white;
    font-size: 20px;
    font-weight:600;
    align-items: flex-start;
}

footer {
    width: auto;
    height: 550px;
    padding: 70px 50px 0px 50px;
    position: relative;
    background-color: ghostwhite;
}

.bottom h3 {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;
}
.bottom a {
    font-size: 20px;
}
.pay a{
    font-weight: bold;
}
.botto + p {
    flex-wrap: wrap;
    grid-column-start: auto;
}
footer ul, li a {
    list-style: none;
    color: black;
    text-align: start;
    text-decoration: none;
}

footer li {
    margin-bottom: 20px;
}

footer ul {
    margin-left: 0;
    padding-left: 0;
}
.bottom {
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.social h3{
    margin-bottom: 20px;
}
.social img {
    width: 20px;
    height: 20px;
    padding-top: 30px;
    padding-right: 5px ;
    opacity: 0.5;
}

.social p{
    font-size: 20px;
}

.pay img {
    gap: 10px;
    margin-bottom: 6PX;
    margin-top: 6px;
}
.pay p {
    font-size: 20px;
}

.pay p:nth-of-type(even) {
    margin-bottom: 20px;
}

.logoname img{
    margin: 0;
    height: 40px;
    padding-left: 40px;
}

.copy {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 40px;
    right: 90px;
}

.soc{
   float: left; 
   position: absolute;
   bottom: 40px;
   padding-left: 50px;
  
}
.soc img {
    width: 100px;
    height: 100px;
}

.fixed img{
    position: fixed;
    bottom: 60px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 0px 0px 3px 3px rgb(178, 178, 178, 0.3);
    
}

