.flag {
    width: 400px;
    height: 100px;
}

body {
    padding: 200px 50px 100px 540px;
}

body h1 {
    margin-left: 300px;
    font-size: 60px;
}

.container {
    margin: 0;
    width: 400px;
    height: 300px;
    background-color: white;
    position: relative;
    
}

.SA_box7 {
    /* width: 200px; */
    background-color: red;
    position: absolute;
    top: 0px;
    right: 0;
    border-radius: 40px 40px 0px 0px;
}

.SA_box10 {
    /* width: 200px; */
    background-color: blue;
    position: absolute;
    bottom: 0px;
    right: 0;
    border-radius: 0px 0px 40px 40px;
}
.SA_box1 {
    background-color: white;
    height: 300px;
    width: 50px; 
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 40px 0px 0px 40px;
}

.SA_box2 {
    width: 0px;
    height: 0px;
    /* background-color: white; */
    border-width: 150px;
    border-style: solid;
    border-left-color: white;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color:transparent;
    position: absolute;
    top: 0px;
    left: 50px;
}

.SA_box8 {
    background-color: white;
    position: absolute;
    top: 100px;
    right: 0;
}
.SA_box3 {
    background-color: green;
    height: 300px;
    width: 40px; 
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 40px 0px 0px 40px;
}

.SA_box4 {
    width: 0px;
    height: 0px;
    /* background-color: orange; */
    border-width: 150px;
    border-style: solid;
    border-left-color: green;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color:transparent;
    position: absolute;
    top: 0px;
    left: 40px;
}

.SA_box9 {
    height: 80px;
    background-color: green;
    position: absolute;
    top: 110px;
    right: 0;
}

.SA_box5 {
    width: 0px;
    height: 0px;
    /* background-color: green; */
    border-width: 110px;
    border-style: solid;
    border-left-color: yellow;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color:transparent;
    position: absolute;
    top: 40px;
    left: 0px;
}

.SA_box6 {
    width: 0px;
    height: 0px;
    /* background-color: yellow; */
    border-width: 90px;
    border-style: solid;
    border-left-color: black;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color:transparent;
    position: absolute;
    top: 60px;
    left: 0px;
}

